<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Jquery and DataTables script for nice tables and Bootstrap layout. -->


    <title>Document</title>
</head>
<body>

    <!-- For loop for displaying the items. -->

    <!--suppress JSCheckFunctionSignatures -->
    <h1>{{ message }}</h1>


</body>
</html>